body {

    font-family: Arial, sans-serif;

    background: black;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    min-height: 100vh;

    margin: 0;
    
     
}


.contenedor {

    width: 360px;

    background: white;

    padding: 30px;


    border-radius: 100px;

    box-shadow:
        0 4px 20px
        rgba(0, 0, 0, 0.15);
}


.consejos-seguridad {
  white-space: pre-line; /* Esto procesa los saltos de línea del texto */
}


.contenedor2 {

    width: 270px;

    background: white;

    padding: 30px;

    margin-top: 20px;

    border-radius: 10px;

    box-shadow:
        0 4px 20px
        rgba(0, 0, 0, 0.15);
        
}


h1 {

    text-align: center;

    margin-bottom: 5px;

    font-size: 45px;
}


.subtitulo {

    text-align: center;

    color: #666;

    margin-bottom: 25px;
}


label {

    display: block;

    margin-top: 15px;

    margin-bottom: 25px;

    font-weight: bold;
}


input {

    width: 100%;

    box-sizing: border-box;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 6px;

    font-size: 15px;
}


button {

    width: 100%;

    margin-top: 20px;

    padding: 12px;

    border: none;

    border-radius: 6px;

    background: blue;

    color: white;

    font-size: 16px;

    cursor: pointer;
}


button:hover {

    opacity: 0.85;
}


#resultado {

    margin-top: 25px;

    padding: 15px;

    border-radius: 8px;

    background: #f4f4f4;
}
